@import "./mixins";

%h1 {
  font-family: 'MangoGrotesque', sans-serif;
  font-size: 43vw;
  font-style: normal;
  font-weight: bold;
  line-height: 60%;
  text-transform: uppercase;
  letter-spacing: normal;
}

h1 {
  @extend %h1;
}
